<!-- =====================CATALOG============================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
                                                            ||
Коректний відносний шлях до зображень має такий вигляд      ||
<img src="/img/catalog/yaht-1.jpg" alt="">                  ||
========================================================== -->
<section class="catalog">
  <h2>Choose your dream yacht and sail away into the sunset</h2>
  <ul>
    <li>
      <img src="/img/catalog/yaht-1.jpg" alt="yacht ARROW" />
      <h3>Arrow</h3>
      <p>LUXURY YAHTS</p>
      <ul>
        <li>
          <span>LENGTH</span>
          <span>48m(155ft)</span>
        </li>
        <li>
          <span>BUILDER</span>
          <span>Admiral</span>
        </li>
        <li>
          <span>BUILT</span>
          <span>2021</span>
        </li>
        <li>
          <span>GUESTS</span>
          <span>11 in 5 cabins</span>
        </li>
        <li>
          <span>PRICE</span>
          <span>€33,500,000</span>
        </li>
      </ul>
    </li>
    <li>
      <img src="/img/catalog/yaht-2.jpg" alt="yacht BENETTI OASIS 40" />
      <h3>BENETTI OASIS 40</h3>
      <p>LUXURY YAHTS</p>
      <ul>
        <li>
          <span>LENGTH</span>
          <span>41m (133ft)</span>
        </li>
        <li>
          <span>BUILDER</span>
          <span>Benetti</span>
        </li>
        <li>
          <span>BUILT</span>
          <span>2025</span>
        </li>
        <li>
          <span>GUESTS</span>
          <span>10 in 5 cabins</span>
        </li>
        <li>
          <span>PRICE</span>
          <span>€33,500,000</span>
        </li>
      </ul>
    </li>
    <li>
      <img src="/img/catalog/yaht-3.jpg" alt="yacht BELLE ANNA" />
      <h3>BELLE ANNA</h3>
      <p>LUXURY YAHTS</p>
      <ul>
        <li>
          <span>LENGTH</span>
          <span>50m(155ft)</span>
        </li>
        <li>
          <span>BUILDER</span>
          <span>ISA</span>
        </li>
        <li>
          <span>BUILT</span>
          <span>2012</span>
        </li>
        <li>
          <span>GUESTS</span>
          <span>12 in 6 cabins</span>
        </li>
        <li>
          <span>PRICE</span>
          <span>€21,000,000</span>
        </li>
      </ul>
    </li>
  </ul>
</section>
