<!-- =======================HEADER===========================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
========================================================== -->
<header id="header" class="panel">
  <a href="#header" class="logo">yachtjet</a>
  <nav>
    <ul>
      <li><a href="#About" class="nav-link">About</a></li>
      <li><a href="#Yachts" class="nav-link">Yachts</a></li>
      <li><a href="#Reviews" class="nav-link">Reviews</a></li>
    </ul>
  </nav>
</header>
