.hero {
}
.hero-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #b4b7ba;
}
.hero-btn {
  background-color: #1b414b;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}
